body {
  margin: 0;
  padding: 0;
}

#logo-outline {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-top: 30px;
}

#logo-center {
  margin-left: auto;
  margin-right: auto;
  width: 160px;
}

#container {
  padding: 8px;
}

h1 {
  font-size: 24px;
}
