body {
  margin: 0;
  padding: 0;
  font-family: Georgia, Times, serif;
}

#logo-outline {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-top: 15px;
  position: relative;
}

#logo-center {
  margin-left: auto;
  margin-right: auto;
  width: 160px;
  height: 36px;
}

#container {
  padding: 8px;
}

.rounded_gray_button {
	background: #aaa;
	color: white;
	padding: 2px 15px;
	font-family: Arial, Verdana, sans-serif;
	font-size: 15px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}


#logo-center .rounded_gray_button {
  position: absolute;
  left: 80%;
  top: 9px;
}

.rounded_gray_button:hover {
	background: #ccc;
}

h1 {
  font-size: 24px;
}