body {
  margin: 0;
  padding: 0;
}

#logo-outline {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-top: 30px;
}

#logo-center {
  margin-left: auto;
  margin-right: auto;
  width: 160px;
}

#container {
  padding: 8px;
}

.rounded_gray_button {
	background: #999;
	color: white;
	padding: 2px 5px;
	font-family: Arial, Verdana, sans-serif;
	font-size: 11px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

h1 {
  font-size: 24px;
}
